name: Test Action

on:
  workflow_dispatch:

jobs:
  run_action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Project Action
        uses: ./ # Uses an action in the root directory
        id: project-action
        with:
          project_token: ${{ secrets.BBQ_ORG_TOKEN }}
          project_organization: bbq-beets
          project_number: 2
          custom_fields: blah
          filter: blah:"space Space"
          storage_repository: ${{ github.repository }}
          storage_path: data/dispatch-p2-test-a.json
          storage_token: ${{ github.token }}
          committer_name: Project Action Bot
          committer_email: cdb@github.com
          slack_token: ${{ secrets.CDB_SLACK_TOKEN }}
          slack_channel: ${{ secrets.CDB_SLACK_CHANNEL }}
      - run: |
          echo "Output Added: ${{ steps.project-action.outputs.added }}"
          echo "Output Removed: ${{ steps.project-action.outputs.removed }}"
          echo "Output Changed: ${{ steps.project-action.outputs.changed }}"
